[Unit]
Description=IP API (uvicorn)
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/ip

# 环境变量
Environment="PATH=/home/ubuntu/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"

# 启动命令
ExecStart=/home/ubuntu/.local/bin/uv run uvicorn main:app --host 0.0.0.0 --port 3003  --workers 4

# 自动重启
Restart=always
RestartSec=3

# 日志
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target